# Não versionar vídeos baixados
Vídeos baixados/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
package-lock.json

# OS files
Thumbs.db

# Tauri
src-tauri/target/
src-tauri/Vídeos baixados/
# Evita que arquivos .mp4 em public/demos sejam versionados
public/demos/*.mp4
.mp4
